body > header {
  height: 96px;
  width: 100%;
  background-color: #0d89b7;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
body > header .container {
  margin: 0 auto;
  padding: 0;
}
body > header a {
  color: white;
  text-decoration: none;
}
body > header .wicket-logo {
  font-family: 'League Gothic', sans-serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
}
body > header .wicket-logo img {
  padding: 0;
  margin: 0;
}
body > header nav ul {
  list-style: none;
  line-height: 32px;
}
body > header nav li {
  display: inline;
  margin: 0;
}
body > header nav li + li {
  margin-left: 2em;
}
body {
  margin-top: 96px;
}
body.menu-hidden {
  margin-top: 0;
}
body.menu-hidden > header {
  z-index: 0;
  position: relative;
  height: 32px;
}
body.menu-hidden .wicket-logo {
  display: none;
}
