#mvncmd {
  background-color: #FF9926;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 2em;
  padding: 1em 2em 2em 2em;
}
#mvncmd label {
  display: block;
  margin-top: 0.5em;
}
#mvncmd button,
#mvncmd input,
#mvncmd select,
#mvncmd textarea {
  display: block;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  color: #606060;
  height: 3em;
}
#mvncmd textarea {
  height: 15em;
}
#mvncmd button {
  background-color: #E68A00;
  color: white;
  height: 3em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 200;
}
