/* =========== Semantic fluid grid */
/*

    Use '.mixin-grid(12, 2)' to make a column. 
    The first unit (12) is the column width.
    The second unit (2) is the margin on both sides.
    The margin will be auto substracted from the column width.
    So don't recalculate the column width if you change your margin.
    
    To set different margins on both sides use '.mixin-grid(12, 2, 3)'.
    You can also use negative margins.
    
*/
/* Use this mixin to reset your grid by example for your mobile articles */
.mixin-grid-reset {
  clear: both;
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
/* The clearfix mixin is necessary for the floats */
.mixin-clearfix {
  *zoom: 1;
}
.mixin-clearfix:before,
.mixin-clearfix:after {
  display: block;
  height: 0 !important;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
}
.mixin-clearfix:after {
  clear: both;
}
main {
  display: block;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
::-moz-selection {
  background: #383b3a;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #383b3a;
  color: #ffffff;
  text-shadow: none;
}
.support {
  font-family: paulmaul;
  font-size: 1.8em;
  padding: 1em;
}
.support p {
  margin: 0;
}
html {
  color: #69706d;
  font: 16px 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
}
body {
  background-color: #fcfcfc;
  line-height: 1.5em;
  height: 100%;
}
@media only screen and (max-width: 960px) {
  body {
    font-size: 15px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.5em;
  margin: 0 0 0.25em 0;
}
h1.soft,
h2.soft,
h3.soft,
h4.soft,
h5.soft,
h6.soft {
  font-weight: 200;
  color: #9da2a0;
}
h1 {
  font-size: 2.25em;
  font-weight: 300;
}
h2 {
  font-size: 1.6em;
  font-weight: 400;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.05em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1.25em;
}
p.lead {
  font-size: 1.2em;
  line-height: 1.75em;
}
a {
  color: #1099cc;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
small {
  font-size: 0.85em;
  color: #9da2a0;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
code,
pre {
  font-family: 'courier new', monospace;
}
abbr {
  border-bottom: 1px dotted #9da2a0;
}
del {
  text-decoration: line-through;
}
mark {
  background-color: #ffffb3;
}
hr {
  background-color: transparent;
  border: solid #bfbfbf;
  border-width: 1px 0 0;
  clear: both;
  margin: 2em 1.25em;
}
blockquote {
  quotes: none;
  color: #9da2a0;
  font: italic 1.2em Georgia, serif;
  line-height: 1.5em;
  margin-bottom: 1.25em;
  padding: 0 0 0 2em;
  position: relative;
}
blockquote:before {
  color: #dee0df;
  content: "\201C";
  display: block;
  font-size: 5em;
  left: -0.15em;
  position: absolute;
  top: 0.25em;
}
blockquote cite {
  color: #757d79;
  display: block;
  font-size: 0.85em;
}
blockquote cite:before {
  content: "\2014 \0020";
}
figure img {
  display: block;
  width: 100%;
}
figure figcaption {
  color: blue;
}
ul,
ol {
  margin: 0 0 1.25em 1.5em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
dl {
  margin-bottom: 1.25em;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 1.25em;
}
@extend dl;
dl.advanced dt {
  float: left;
  width: 31.250000000000004%;
  margin-left: 0%;
  margin-right: 2.0833333333333335%;
}
dl.advanced dd {
  float: left;
  width: 66.66666666666667%;
  margin-left: 0%;
  margin-right: 0%;
}
