/* =========== Semantic fluid grid */
/*

    Use '.mixin-grid(12, 2)' to make a column. 
    The first unit (12) is the column width.
    The second unit (2) is the margin on both sides.
    The margin will be auto substracted from the column width.
    So don't recalculate the column width if you change your margin.
    
    To set different margins on both sides use '.mixin-grid(12, 2, 3)'.
    You can also use negative margins.
    
*/
/* Use this mixin to reset your grid by example for your mobile articles */
.mixin-grid-reset {
  clear: both;
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
/* The clearfix mixin is necessary for the floats */
.mixin-clearfix {
  *zoom: 1;
}
.mixin-clearfix:before,
.mixin-clearfix:after {
  display: block;
  height: 0 !important;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
}
.mixin-clearfix:after {
  clear: both;
}
